{%extends 'base.html'%}
{% block content %}
    <h1>Editar Post</h1>

    <form method="POST" action="{{url_for('show', id=post.id)}}?_method=PATCH">
    <input type="text" name="twitter_id" value="{{post.twitter_id}}">
    <input type="text" name="text" value="{{post.text}}">
    <input type="submit" value="Confirmar">
    </form>
{% endblock %}
