{%extends 'base.html'%}
{% block content %}
    <h1>Posts</h1>
	<p>    
    		<a href="{{url_for('new')}}"> Cadastrar Post</a>
	</p>
{% for post in posts %}
    	<p>
        	<a href="{{url_for('show', id=post.id)}}">{{post.twitter_id}} {{post.text}}</a>
    	</p>
{% endfor %}
    
{% endblock %}
