{%extends 'base.html'%}
{% block content %}
    <h1>Adicionar Novo Post</h1>

    <form method="POST" action="{{url_for('index')}}">
    <input type="text" name="twitter_id"}}">
    <input type="text" name="text" }}">
    <input type="submit" value="Adicionar Post">
    </form>
{% endblock %}
