{%extends 'base.html'%}
{% block content %}
    <h1>Buscar hashtag</h1>

    <form method="POST" action="{{url_for('index')}}">
    <input type="text" name="hashtag"}}">
    <input type="submit" value="Buscar hash">
    </form>
{% endblock %}
