{%extends 'base.html'%}
{% block content %}
    <h1>Algumas informações sobre {{post.twitter_id}}</h1>
    
    <a href="{{url_for('edit', id=post.id)}}"> Editar post</a>
    
    <h2>Deletar post</h2>
    <form method="POST" action="{{url_for('show', id=post.id)}}?_method=DELETE">
 	<input type="submit" value="Delete">    
    </form>
{% endblock %}
